example-workflow.json
{
  "meta": {
    "instanceId": "wxai-example-workflow"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [920, 480]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "You are a helpful AI assistant. Respond concisely and helpfully."
            },
            {
              "role": "user",
              "content": "={{ $json.question }}"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "id": "wxai-node",
      "name": "WXAI",
      "type": "n8n-nodes-wxai.wxai",
      "typeVersion": 1,
      "position": [1380, 480],
      "credentials": {
        "wxaiApi": {
          "id": "your-wxai-credential-id",
          "name": "WXAI API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "question-field",
              "name": "question",
              "value": "What is the capital of France?",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-question",
      "name": "Set Question",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1160, 480]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Set Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Question": {
      "main": [
        [
          {
            "node": "WXAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
